.eric-logo{
  width: 50%;
  height: 50%;
  margin-top: calc(5em + 5vw);
}


.scroll {
  animation: move 1s infinite alternate;
  margin-top: 10%;
  height: calc(3em);
}

@keyframes move {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(20px);
  }
}

.homepage-description{
  color: #32a6e1;
  font-size:calc(0.7em + 0.7vw);
  font-weight:bold;
  margin-top: 10px;
}

.homepage-email{
  padding-top:10px;
  font-size:calc(0.6em + 0.6vw);
}

